<%= link_to 'Show', cabinet_folder_path(@folder.cabinet, @folder), class: "btn btn-link" %> |
<%= link_to 'Back', cabinet_path(@cabinet), class: "btn btn-link" %>

<h1>Editing folder</h1>

<%= render 'form' %>
